{# @license 3-clause BSD #}


{% extends 'page.html.twig' %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ config.baseURL }}">Home</a></li>
		<li><a href="{{ config.baseURL }}field/{{ fieldKey }}">Field: {{ fieldKey }}</a></li>
		<li class="active">Value: {{ fieldValue|slice(0,50) }}</li>
	</ol>

	<h1>{{ fieldKey }}: {{ fieldValue }}</h1>

	<ul>
    {% for rootDataObject in rootDataObjects %}
      <li>
        <h2><a href="{{ config.baseURL }}data/{{ rootDataObject.slug }}">{{ rootDataObject.title }}</a></h2>
				<p>{{ rootDataObject.description | nl2br }}</p>
				<a href="{{ config.baseURL }}data/{{ rootDataObject.slug }}" class="btn btn-default">View</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
