{# @license 3-clause BSD #}


{% extends 'page.html.twig' %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ '/' | internalLinkToDir }}">Home</a></li>
		<li class="active">Field: {{ fieldConfig.label }}</li>
	</ol>

	<h1>{{ fieldConfig.label }}</h1>

	{% if values|length > 1 %}
   	<div class="dropdown dropdown-menu-right">
   	  <button class="btn btn-default dropdown-toggle pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   	    Sort By Value
   	    <span class="caret"></span>
   	  </button>
   	  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
   	    <li><a href="{{ ('/field/' ~ fieldKey ) | internalLinkToDir }}">Value</a></li>
   	    <li><a href="{{ ('/field/' ~ fieldKey ~ '/indexSortByCount.html') | internalLink }}">Count</a></li>
   	  </ul>
   	</div>
  {% endif %}

	<ul>
		{% for data in values %}
			<li>
				<a href="{{ ('/field/' ~ fieldKey ~ '/value/' ~ data.value.valueKeyForWeb) | internalLinkToDir }}">{{ data.value.valueAsString }} ({{ data.count }})</a>
				<a href="{{ ('/field/' ~ fieldKey ~ '/value/' ~ data.value.valueKeyForWeb) | internalLinkToDir }}" class="btn btn-default">View</a>
			</li>
		{% endfor %}
		{% if rootDataWithNoValues %}
			<li>
				<a href="{{ ('/field/' ~ fieldKey ~ '/value/none') | internalLinkToDir }}">No Value ({{ rootDataWithNoValuesCount }})</a>
				<a href="{{ ('/field/' ~ fieldKey ~ '/value/none') | internalLinkToDir }}" class="btn btn-default">View</a>
			</li>
		{% endif %}
	</ul>

{% endblock %}
