{# @license 3-clause BSD #}


{% extends 'page.html.twig' %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ '/' | internalLinkToDir }}">Home</a></li>
		<li class="active">Field: {{ fieldConfig.label }}</li>
	</ol>

	<h1>{{ fieldConfig.label }}</h1>

	<ul>
		{% for key, value in values %}
			<li>
				<a href="{{ ('/field/' ~ fieldKey ~ '/value/' ~ key) | internalLinkToDir }}">{{ value }}</a>
				<a href="{{ ('/field/' ~ fieldKey ~ '/value/' ~ key) | internalLinkToDir }}" class="btn btn-default">View</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
