{# @license 3-clause BSD #}


{% extends 'page.html.twig' %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ '/' | internalLinkToDir }}">Home</a></li>
		<li class="active">Data: {{ rootDataObject.title|slice(0,50) }}</li>
	</ol>

	<h1>{{ rootDataObject.title }}</h1>

	<p>{{ rootDataObject.description | nl2br }}</p>

	{% for key,field in rootDataObject.fields %}
			{% if config.fields[key] and config.fields[key].isList %}
				<p><a href="{{ ('/field/' ~ key ) | internalLinkToDir }}">{{ config.fields[key].label }}</a></p>
				<ul>
					{% for valueScalar in field.values %}
						<li><a href="{{ ('/field/' ~ key ~ '/value/' ~ valueScalar.valueKeyForWeb) | internalLinkToDir }}">{{ valueScalar.valueAsString }}</a></li>
					{% endfor %}
				</ul>
			{% elseif config.fields[key] %}
				<p><a href="{{ ('/field/' ~ key ) | internalLinkToDir }}">{{ config.fields[key].label }}</a></p>
				<p><a href="{{ ('/field/' ~ key ~ '/value/' ~ field.valueKeyForWeb) | internalLinkToDir }}">{{ field.valueAsString }}</a></p>
			{% else %}
				<p>{{ key }}</p>
				<p>{{ field.valueAsString }}</p>
			{% endif %}
	{% endfor %}

	{% for key,field in fieldsWithNoValue %}
		<p><a href="{{ ('/field/' ~ key ) | internalLinkToDir }}">{{ config.fields[key].label }}</a></p>
		<p>No Value Known</p>
	{% endfor %}

	{% if rootDataObject.files %}
		<h2>Files</h2>
		<ul class="list-group">
			{% for file in rootDataObject.files %}
				<li class="list-group-item">
					<a href="files/{{ file.name}}" class="btn btn-default">{{ file.name }}</a>
					{{ file.sizeHumanReadable }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}


{% endblock %}
