{# @license 3-clause BSD #}


{% extends 'page.html.twig' %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ config.baseURL }}">Home</a></li>
		<li class="active">Data: {{ rootDataObject.title|slice(0,50) }}</li>
	</ol>

	<h1>{{ rootDataObject.title }}</h1>

	<p>{{ rootDataObject.description | nl2br }}</p>

	{% for key,field in rootDataObject.fields %}
			{% if config.fields[key] and config.fields[key].isList %}
				<p>{{ key}}</p>
				<ul>
					{% for valueScalar in field.values %}
						<li>{{ valueScalar.value }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>{{ key}}: {{ field.value }}</p>
			{% endif %}
	{% endfor %}

	{% if rootDataObject.files %}
		<h2>Files</h2>
		<ul class="list-group">
			{% for file in rootDataObject.files %}
				<li class="list-group-item"><a href="files/{{ file.name}}" class="btn btn-default">{{ file.name }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}


{% endblock %}
