{# @license 3-clause BSD #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>{{  config.title }}</title>

    <link href="{{ '/css/bootstrap.min.css' | internalLink }}" rel="stylesheet">
    <link href="{{ 'css/bootstrap-theme.min.css' | internalLink }}" rel="stylesheet">
		{% block htmlHeader %}{% endblock %}
	</head>
	<body role="document">

		{%  include 'header.html.twig' %}

    <div class="container theme-showcase" role="main">
			{% block content %}{% endblock %}

			{%  include 'footer.html.twig' %}
		</div>

		<script src="{{ '/js/jquery.min.js' | internalLink }}"></script>
		<script src="{{ '/js/bootstrap.min.js' | internalLink }}"></script>
	</body>
</html>
