{# @license 3-clause BSD #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>{{  config.title }}</title>

    <link href="{{ config.baseURL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ config.baseURL }}css/bootstrap-theme.min.css" rel="stylesheet">
		{% block htmlHeader %}{% endblock %}
	</head>
	<body role="document">

		{%  include 'header.html.twig' %}

    <div class="container theme-showcase" role="main">
			{% block content %}{% endblock %}

			{%  include 'footer.html.twig' %}
		</div>

		<script src="{{ config.baseURL }}js/jquery.min.js"></script>
		<script src="{{ config.baseURL }}js/bootstrap.min.js"></script>
	</body>
</html>
